.form{
  width: 100%;
  background:cornsilk;
  border-radius: 10px;
  width: 50%;
  border-color: black;
  padding: 40px;
  margin-left: 50vh;
  
}
.text{
    text-align: center;
    
}
.text1{
    text-align: center;
}
