.nav-logo{
    width: 180px;
}

.search-item{
    width: 100%;
}
.navbar{
    background-color: #4CBB17 !important;
    color: white !important;
}
.logo {
    font-weight: bold;
    margin-top: 4px;
}

/* @media only screen and (max-width:600px) {
    .search-item{
        width: auto;
    }
} */


.demo {
    margin-left: 20px;
}


sell{
    padding: auto;
}
a{
    margin: 5px;
}